.charlist {   
  display: flex;
  flex-wrap: wrap;  
  background-color: wheat;
  border: solid 3px black;
  border-radius: 10px;
  padding: 2em;
  justify-content: flex-start;
  gap: 2em; 
}

.charli {  
  flex: 1 1 1em;
  height: 400px; 
  width: 380px;
  border: solid 3px darkgreen;
  border-radius: 10px;
  margin: 10px;
  padding: 1em;
  list-style-type: none;
  justify-content: center;
  padding-bottom: 3em;  
  background-color: lightblue;
  
}

.charimg:hover {
  transform: scale(1.7);
  outline-style: double;
  outline-color: black;
  border-radius: 2px;
  background-color: lightskyblue;
  filter: drop-shadow(0 0 2em blue);

}

body {
    background-color: lightsalmon;
    
}