.charlist {    
  display: flex;
  background-color: wheat;
  flex-wrap: wrap;
  border: solid 7px black;
  border-radius: 10px;
  padding: 4rem;
  
}

.charli {
  height: 400px; 
  width: 280px;
  border: solid 3px grey;
  border-radius: 10px;
  margin: 10px;
  padding: 2em;  
  list-style-type: none;
  
}

body {
    background-color: lightsalmon;
    
}